{% extends 'index.html' %}
{% load static %}
{% block title %}Item{% endblock title %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'css/item.css' %}"/> {% endblock %}
{% block js %} <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script> {% endblock %}





{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/items/">Items</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ item.AmazonOrderId }}</li>
  </ol>
</nav>
<!-- Button trigger modal -->
    <!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
-->

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="product_img" class = "thumbnail" width="" height="" src="" alt="Card image cap">
                <br>
                <span id="rank"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<section id="section">
    <div class="container">
        <div class="card" style="width: 500px;">

            <div class="card-header">
            {{ item.AmazonOrderId }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ item.SellerSKU }}</h5>
                <p class="card-text">{{ item.ASIN }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ item.QuantityShipped }}</li>
                <li class="list-group-item">{{ item.OrderItemId }}</li>
                <li class="list-group-item">{{ item.ItemPrice }}</li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-primary" onclick="call_get_item('{{ item.ASIN }}');" data-toggle="modal">Get Item</button>
                <!--<button type="button" class="btn btn-primary" onclick="call_get_catalog_item('{{ item.ASIN }}');"data-toggle="modal" data-whatever="@fat">Open modal for @fat</button>-->

                <!--<a data-dismiss="modal" onclick="call_counter('{{ item.ASIN }}');" href="#" class="card-link">Get Catalog</a>-->
            </div>
        </div>
    </div>
</section>
<script>

$('#exampleModal').on('show.bs.modal', function (event) {
    $('#preloader').remove();
  var button = $(event.relatedTarget) // Button that triggered the modal
    console.log(button);
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})


function call_get_catalog_item(pk) {
    $.getJSON('../sp-api/catalog/get_catalog_item/'+pk, function (data, textStatus, jqXHR){
 });
}

function call_get_item(pk) {
    console.log(pk);

    const preloader = '<div id="preloader" class="page-loader-wrapper"><div class="loader"><div class="loader-wheel"></div><div class="loader-text">POOOOOOOOO</div></div></div>'
    $('body').append(preloader);


    $.getJSON('../sp-api/catalog/get_item/'+pk, function (data, textStatus, jqXHR){
        console.log(data.SalesRankings);
        console.log(data.AttributeSets[0]);
        console.log(typeof(data.AttributeSets));
        console.log(data);
        let sales_ranking = data.SalesRankings;

        let attribute_sets = data.AttributeSets[0];

        let brand = attribute_sets.Brand;

        let small_image = attribute_sets.SmallImage;

        let image_url = small_image.URL;

        $("#product_img").attr("src", image_url);


        let image_width_obj = small_image.Width;

        let image_height_obj = small_image.Height;


        const image_width = image_width_obj.value;
        $("#product_img").attr("width", image_width+"px");
        const image_width_units = image_width_obj.Units;


        const image_height = image_height_obj.value;
        $("#product_img").attr("height", image_height+"px");
        const image_height_units = image_height_obj.Units;


        console.log(typeof(sales_ranking));

        let rank_str = "";

        function myFunction(item, index, arr) {
          console.log(arr[index].ProductCategoryId);
          console.log(arr[index].Rank);

          rank_str += " Category: " + arr[index].ProductCategoryId + " Rank: " + arr[index].Rank + "<br>";
        }
        sales_ranking.forEach(myFunction)

        console.log(rank_str);

        $('#rank').text(rank_str);

        $('#exampleModal').modal('show');
    });
}
</script>

{% endblock content %}