{% extends 'index.html' %}
{% load static %}
{% block title %}Get Items{% endblock title %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}"/> {% endblock %}
{% block js %} <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script> {% endblock %}

{% block content %}
<h1>Donwload Items</h1>
<form id = "target" action = "" method = "post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<script>
$( "#target" ).submit(function( event ) {
  //alert( "Handler for .submit() called." );
  const preloader = '<div id="preloader" class="page-loader-wrapper"><div class="loader"><div class="loader-wheel"></div><div class="loader-text">POOOOOOOOO</div></div></div>'

  $('body').append(preloader);

    //$( "form" ).first().submit();
  //event.preventDefault();
});
</script>

{% endblock content %}
